@media (max-width: 768px) {
  ion-title, p {
    font-size: 16px;
  }

}

// 768 étant la taille standard d'un écran de tablette 
@media (min-width: 769px) {
  ion-title, ion-card-title{
    font-size: 32px;
  }

  h3{
    font-size: 28px;
    text-align: center;
  }
  
  p {
    font-size: 24px;
  }
}